
@{
    ViewBag.Title = "TransferTest";
}

<h2>TransferTest</h2>

@using (Html.BeginForm(""))
{

    <input type="text" name="idUsuarioFrom"/>

    <br />
    <input type="text" name="idUsuarioTo"/>

    <br />

    <input type="text" name="valor">

    <br />

    <button type="submit">enviar</button>
}