@model IEnumerable<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}
<section class="jumbotron">
        <h1 class="jumbotron-heading">Resultados de búsqueda</h1>
        <ul class="list-group list-group-flush">

            @foreach (var p in Model)
            {
                <li class="list-group-item">
                    <h5>
                        @Html.ActionLink(p.Titulo, "Detalles", "Cuenta", new { idPublicacion = p.idPublicacion }, new { @class = "" })
                    </h5>
                    <p class="font-weight-bold">valor: @p.Valor</p>
                </li>
            }
        </ul>
</section>