@model IEnumerable<ayni.Models.Publicacion>

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_EstandarLayout.cshtml";
}


    <div class="container">
        <h4 class="display-4">Resultados de búsqueda</h4>




        @foreach (var p in Model)
        {

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge-pill badge-primary">@p.TipoPublicacion.Descripcion</span>
                        <div>
                            @Html.ActionLink(p.Titulo, "Detalles", "Publicacion", new { idPublicacion = p.idPublicacion }, new { @class = "" })
                        </div>
                    </h5>
                    <p class="font-weight-bold">valor: @p.Valor</p>
                </div>
            </div>
        }
    </div>

