/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.mt-nav {
  margin-top: 10px;
}

/*.top-nav-collapse {
  background-color: #424f95 !important;
}*/

/*.nav-scrolled {
	background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
}*/

/*.navbar:not(.top-nav-collapse) {
  background: transparent !important;
} veo si lo necesito más adelante*/ 

/*@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 100%);
  }
}*/

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}
.navbarGr {
	background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 80%);
}

    .mt-nav {
        margin-top: 56px;
    }
.rgba-gradient {

  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

#fondo_home {
    background-image: url('../Content/img/home_.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    max-width: 100%;
    height: 750px;
}

#fondo_home:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);

}

.btn-light {
    border-color: rgba(0,0,0,.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.btn-primary {
    background-color: #8c61fe;
    border-color: #8c61fe;
}

    .btn-primary:hover {
        background-color: #724FD1;
        border-color: #724FD1;
    }


nav.navbar {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}