@model List<ayni.Models.Publicacion>


@{
    ViewBag.Title = "Index";
        
        Layout = "~/Views/Shared/_EstandarLayout.cshtml";
    }

<div class="container">
    <div class="container py-4">
        <div class="card">
            <h5 class="card-header white-text text-center  py-4">
                <strong>Pedidos</strong>
            </h5>
            <div class="card-body">
                @foreach (var p in Model)
                {
                    
                        <div class="card m-2">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">

                                    <div>Estado de la publicacion: @p.EstadoPublicacion.Descripcion</div>
                                    <div>Fecha de publicación: @p.Fecha_publicacion</div>
                                </div>

                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="#">@p.Titulo</a>
                                </h5>
                                <p class="card-text">Valor: @p.Valor</p>
                            </div>
                        </div>

                }
            </div>
        </div>
        </div>
    </div>
