@{
    ViewBag.Title = "Ayni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    @Html.Partial("../Partials/Nav/pv_NavBar")
    @Html.Partial("../Partials/pv_IngresarModal")
    <div class="mt-nav">
        @RenderBody()
    </div>
</div> 

