@{
    ViewBag.Title = "Ayni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*@Html.Partial("../Partials/Nav/pv_NavBar")*@
    @Html.Partial("../Partials/Nav/pv_Navbar_home")
    @Html.Partial("../Partials/pv_IngresarModal")
    @*<div class="mt-nav">*@
<section>
    @RenderBody()
</section>
                                            