@{
    ViewBag.Title = "Ayni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.Partial("../Partials/Nav/pv_NavBar")*@
@Html.Partial("../Partials/Nav/pv_Nav")
@Html.Partial("../Partials/pv_IngresarModal")
@Html.Partial("../Partials/pv_EnviarModal")
<section class="mt-5 jumbotron d-flex justify-content-center
	" style="min-height:430px">
    @RenderBody()
</section>


