@{
    ViewBag.Title = "_EstandarLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    @Html.Partial("../Partials/Nav/pv_NavBar")
    @Html.Partial("../Partials/pv_IngresarModal")
    <div class="mt-nav">
        @RenderBody()
    </div>
</div> 

<style>
    .mt-nav {
        margin-top: 56px;
    }

    .navbarGr {
        background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 1), rgba(29, 210, 177, 1) 80%);
    }
</style>