@using ayni.Sesiones


@{
    ViewBag.Title = "Ayni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    @{ if (Session["id"] == null)
        {
            @Html.Partial("../Partials/Nav/pv_NavScroll")
            @Html.Partial("../Partials/pv_IngresarModal")
        }
        else
        {
            @Html.Partial("../Partials/pv_UsuarioNav");
        }
    }

    <div class="">
        @RenderBody()
    </div>
</div> 