
@{
    ViewBag.Title = "pv_EnviarModal";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Espera por favor</h5>
            </div>
            <div class="modal-body">
                <span>Estamos procesando tu pedido...</span>
                <img id="" src='../../Content/img/whiteIconGrisSegmentos.gif' style="display:inline-block" width="30" height="30" class="float-right"/>
            </div>
        </div>

    </div>
</div>
