
@{
    ViewBag.Title = "pv_Footer";
}


<footer class="container py-4">
    <div class="row">


        <div class="col-6 col-md">
            <img src="../Content/img/AyniLogoSoloSombra.png" alt="AyniLogo" style="height:55px" />
        </div>

        <div class="col-6 col-md">
            <h5>El proyecto</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">¿Qué es Ayni?</a></li>
                <li><a class="text-muted" href="#">¿Cómo funciona?</a></li>
                <li><a class="text-muted" href="#">Contactanos</a></li>
            </ul>

        </div>

        <div class="col-6 col-md">
            <h5>Seguinos en las redes</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Facebook</a></li>
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Twitter</a></li>
                <li><a class="text-muted" href="#">Gmail</a></li>
            </ul>
        </div>


        <div class="col-6 col-md">
            <h5>Buscar Favores</h5>

            @using (Html.BeginForm("Buscar", "Home"))
            {
                <input type="text" class="form-control" placeholder="Buscar pedidos y ofrecimientos" style="border-color:black;" name="inputBuscar">

                <button type="submit" class="btn btn-block btn-secondary my-2">Buscar</button>
            }

        </div>
    </div>
</footer>