
@{
    ViewBag.Title = "pv_HeaderImagen";
}

<div class="" id="fondo_home" style="background-image: url('../Content/img/home_.jpg');">
    <div class="row align-items-center position-relative overflow-hidden text-center h-100 m-0">
        <div class="col-md-8 p-lg-7 col-sm-12 mx-auto my-7">
            <div class="row justify-content-center m-5">
                <h1 class="text-uppercase text-white display-4 font-weight-normal">empezá a favorear</h1>
                <p class="text-white">
                    Pedí un favor u ofrecete para ayudar a alguien más<br />
                    Cuanto más ayudas, más recibís
                </p>
                @*<img class="" style="height: 200px;" src="../Content/img/AyniLogoAficheLuz.png" alt="AyniLogo" />*@
            </div>
            <div class="row justify-content-center ">
                @Html.ActionLink("Necesito un favor", "Crearfavor", "Publicacion", "", htmlAttributes: new { @class = "btn btn-primary col-3 m-1" })
                @Html.ActionLink("Ofrecer ayuda", "Crearofrecido", "Publicacion", "", htmlAttributes: new { @class = "btn btn-outline-light col-3 m-1" })
            </div>
            @using (Html.BeginForm("BusquedaAvanzada", "Publicacion"))
            {
            <div class="form-row m-2 justify-content-center">
                <div class="col-6 col-md-6 col-sm-10">
                    <input type="text" class="form-control" placeholder="Buscar pedidos y ofrecimientos" style="border-color:transparent;" name="inputBuscar">
                </div>
                <div class="col-2 col-md-2">
                    <button type="submit" class="btn btn-block btn-secondary">Buscar</button>
                </div>
            </div>
            }
            @*<div>
                    <strong>
                        @Html.ActionLink("Búsqueda avanzada", "Buscar", "Publicacion", "", htmlAttributes: new { @class = "text-dark" })
                    </strong>
                </div>*@
        </div>
    </div>
</div>