
@{
    ViewBag.Title = "pv_HeaderImagen";
}

<div class="container w-100" style="
  background-image: url('../Content/img/home_full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 400px;
  background-color: transparent;
  " ;>
    <div class="row align-items-center position-relative overflow-hidden text-center h-100">
        <div class="col-md-8 p-lg-7 col-sm-12 mx-auto my-7">
            <div class="row justify-content-center m-5">
                @*<img class="" style="height: 200px;" src="../Content/img/AyniLogoAficheLuz.png" alt="AyniLogo" />*@
            </div>
            <div class="row justify-content-center ">
                @Html.ActionLink("Necesito un favor", "Crearfavor", "Publicacion", "", htmlAttributes: new { @class = "btn btn-light col-3 m-1" })
                @Html.ActionLink("Ofrecer ayuda", "Crearofrecido", "Publicacion", "", htmlAttributes: new { @class = "btn btn-outline-light col-3 m-1" })
            </div>
            @using (Html.BeginForm("Buscar", "Home"))
            {
                <div class="form-row m-2 justify-content-center">
                    <div class="col-6 col-md-6">
                        <input type="text" class="form-control" placeholder="Buscar pedidos y ofrecimientos" style="border-color:transparent;" name="inputBuscar">
                    </div>
                    <div class="col-2 col-md-2">
                        <button type="submit" class="btn btn-block btn-primary" style="background-color:#8c61fe; border-color:#8c61fe;">Buscar</button>
                    </div>

                </div>
            }
                @*<div>
                <strong>
                    @Html.ActionLink("Búsqueda avanzada", "Buscar", "Publicacion", "", htmlAttributes: new { @class = "text-dark" })
                </strong>
            </div>*@
            </div>
    </div>
</div>