
@{
    ViewBag.Title = "pv_HeaderImagen";
}

<!-- Full Page Intro -->
<div class="" style="background-image: url('../Content/img/Personas.png'); background-repeat: no-repeat; background-size: cover;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="white-text text-center mt-5 mb-5 wow fadeInLeft text-white">
                    <h1 class="h1-responsive mt-sm-5">Ayni</h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">
                        "Hoy por ti, mañana por mí" * * * * * * *  **  * * * *  * ** *  * * ** * * * **  * * * * *
                    </h6>

                    @Html.ActionLink("Necesito un favor", "Crear", "Publicacion", "", htmlAttributes: new { @class = "btn btn-primary" })
                    @Html.ActionLink("Ofrecer ayuda", "Crear", "Publicacion", "", htmlAttributes: new { @class = "btn btn-light" })

                    @*<a class="btn btn-outline-white">Learn more</a>*@

                    <div class="mt-xl-5">
                        @using (Html.BeginForm("Buscar", "Home"))
                        {
                            <div class="input-group mb-3">
                                <input type="text" class="form-control bg-dark bg-transparent" name="inputBuscar" placeholder="Buscar favores...">
                                <div class="input-group-append">
                                    <input class="input-group-text" type="submit" value="Buscar " />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>