
@{
    ViewBag.Title = "pv_NavBarJumbo";
}

<!-- Main navigation -->
<div>
    <!--Navbar-->
    <nav class="navbar modal-open navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                    <strong>Ayni</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
                <div>
                    @Html.ActionLink("Registro", "Registro", "Home", new { @class = "text-dark" })
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                        Ingresar
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="" style="background-image: url('../Content/img/Personas.png'); background-repeat: no-repeat; background-size: cover;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="white-text text-center mt-5 mb-5 wow fadeInLeft text-white">
                        <h1 class="h1-responsive mt-sm-5">Ayni</h1>
                        <hr class="hr-light">
                        <h6 class="mb-4">
                            "Hoy por ti, mañana por mí" * * * * * * *  **  * * * *  * ** *  * * ** * * * **  * * * * *
                        </h6>
                        <a class="btn btn-white">Download</a>
                        <a class="btn btn-outline-white">Learn more</a>
                        <div class="mt-xl-5">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control bg-dark bg-transparent" placeholder="Buscar favores...">
                                <div class="input-group-append">
                                    <input class="input-group-text" type="submit" name="name" value="Buscar" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</div>
<!-- Main navigation -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
